
.mySwiper{
    width: 100%;
    height: 35rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    /* border: 1px solid #000; */
}

@media (0px <= width <= 300px) {
    .mySwiper{
        height: 110vh;
    }
}

@media (300px <= width <= 812px) {
    .mySwiper{
        width: 80%;
        height: 260vh;
    }
}

@media (420px <= width <= 812px) {
    .mySwiper{
        height: 300vh;
    }
}

@media (812px <= width <= 1024px) {
    .mySwiper{
        height: 65vh;
    }
}